.navLink{
    transform: scale(1);
    transition: .5s;
    &:hover{
        transform: scale(1.1);
        color: rgb(0, 0, 0);
        letter-spacing: 1.2px;
    }
}
.navCircle{
    filter: drop-shadow(rgb(255, 242, 0) 2px 2px 5px);
}
.drawer {
    padding-top: 50px;
    width: 100vw;
    height: 100vh;
    li {
      width: 100vw;
      text-align: center;
      position: relative;
      margin-right: 12em;
      font-family: inter;
      font-size: 20px;
      list-style: none;
      padding: 20px;
    }
    .links {
      text-decoration: none;
      color: inherit;
    }
    .closeIcon {
      width: 40px;
      height: 40px;
      float: right;
      position: absolute;
      top: 20px;
      right: 20px;
      filter: opacity(50%);
    }
  }
  .ham-menu {
      width: 40px;
      
    }